.usercard2 >.card{
    background-color: #ee9ce2!important;
    border-radius: 20px;
    height: 200px;
    width: 699px;
}
.usercard2 >.card-user{
    background-color: #f3e658!important;
    border-radius: 20px;
    height: 200px;
    width: 699px;
}

.usercard2 >.card-b{
    background-color: #e6d0ff!important;
    border-radius: 0px;
    height: 200px;
    width: 699px;
}
.usercard2 >.card >.card-footer {
    border-top:unset;
}
.usercard2 >.card-title{
    font-size: 2rem;
}
.usersspan{
    
        float: right;
        margin-right: 35px;
        margin-top: 40px;
        font-size: 45px;  
}
.cardspan{
    float: right;
    margin-right: 35px;
    margin-top: 40px;
}

.button-nn{
    height: 50px;
    width: 207px;
    border-radius: 20px;
    background-color: #023b6d;
    color: lightgray;
    text-align: center;
    margin: auto;
}
